* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fadeInSection {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.isVisible {
  opacity: 1;
}
.BigScrollContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.nav {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: -8rem;
  transition: 0.4s ease-in-out;
  z-index: 40;

  background-color: rgba(255, 255, 255, 0.146);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
  a {
    text-decoration: none;
    color: black;
  }
  .leftPart {
    display: flex;
    vertical-align: middle;
    align-items: center;
    .dropdown-menu {
      overflow: hidden;
    }
    a {
      margin: 1rem;
      &:hover {
        color: darkred;
      }
    }
  }
  .rightPart {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 5rem;
      height: 5rem;
    }
    div {
      height: 5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      vertical-align: middle;
    }
  }
}

.hidden {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.homefirst {
  @include flexCenter();
  flex-direction: column;
  justify-content: start;
  margin-top: 10rem;
  .textDiv {
    @include flexCenter();
    margin-bottom: 3rem;
    flex-direction: column;
    h1 {
      font-family: "Gravitas One", serif;
      font-size: 4rem;
      text-align: center;
      letter-spacing: 1rem;
      font-weight: 100;
      //   text-shadow: rgba(0, 0, 0, 0.3) 0 0 7px;
    }
    .nfsuEmblemHomeFirst {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }
  }

  .imageDiv {
    background-color: black;
    height: 60vh;
    width: 70vw;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.collaborationDiv {
  @include flexCenter();
  position: relative;
  overflow-x: hidden;
  //
  padding: 5rem;
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .saying {
    position: absolute;
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }
    span {
      background-color: rgba(0, 128, 128, 0.273);
      position: absolute;
      top: 0;
      left: 7rem;
      border-radius: 3rem;
      font-style: italic;
      font-weight: 500;
      padding: 1rem;
      color: midnightblue;
      text-wrap: nowrap;
    }
  }
  .saying-mobile {
    display: none;
  }
}

.announcements {
  height: 60vh;
  color: black;
  text-align: center;
  background-color: white;
  margin-bottom: 5rem;
  .cardsAnnoun::-webkit-scrollbar {
    display: none;
  }
  .cardsAnnoun {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    display: flex;
    padding: 3rem;
    padding-top: 3rem;
    gap: 2rem;
    overflow: scroll;
    .card {
      min-width: 25rem;
      height: 20rem;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

      border-radius: 0;
      padding: 1rem;

      .imageDiv {
        height: 60%;
        background-color: black;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .textBody {
        height: 40%;
        width: 100%;
        overflow: scroll;
      }
    }
  }
}

.descriptionDiv {
  @include flexCenter();
  height: 80vh;
  padding: 5rem 0;
  .imageDiv {
    @include flexCenter();
    height: 100%;
    width: 40%;
    padding: 1rem;
    .imgContainerDiv {
      background-color: black;
      width: 80%;
      height: 80%;
      border-radius: 0rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .textDiv {
    width: 60%;
    height: 100%;
    @include flexCenter();
    flex-direction: column;
    align-items: start;
    h1 {
      font-size: 2.5rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    p {
      width: 90%;
    }
  }
}

.calendarofevents {
  text-align: center;
  height: fit-content;
  color: black;
  @include flexCenter();
  flex-direction: column;
  div {
    width: 80%;
  }
  iframe {
    height: 90vh;
  }
}

.pastevents {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
  }
  .card {
    height: 25rem !important;
    text-align: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 242, 221) !important;
    color: midnightblue;
  }
}

.studygroups {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
  padding: 2rem;
  h1 {
    span {
      vertical-align: middle;
      img {
        width: 2.5rem;
      }
    }
  }
  .cardsContainer {
    background-color: white;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
    position: relative;
    .card {
      width: 13rem;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      height: 10rem;
      position: relative;
      background-color: beige;
      border: none;
      overflow: hidden;
      transition: 0.2s ease-in-out;
      p {
        padding: 0.5rem;
        border-top-right-radius: 0.5rem;
        position: absolute;
        bottom: 0;
        color: black;
        background-color: white;
        // text-shadow: 2px 1px 3px rgba(0, 0, 0, 1);
      }
      .symbol {
        background-color: white;
        opacity: 0;
        display: inline;
        padding: 1rem;
        position: absolute;
        right: 0;

        border-bottom-left-radius: 0.5rem;
      }
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.supportServicesDiv {
  height: 85vh;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  margin-bottom: 10rem;
  .outerDiv {
    height: 100%;
    background-color: white;
    border-radius: 0rem;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    gap: 4rem;
    @include flexCenter();
    .card {
      width: 20rem;
      height: 35rem;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
      border-radius: 0.5rem;
      display: flex;
      border: none;
      background-color: white;
      flex-direction: column;
      overflow: hidden;
      transition: 0.2s ease-in-out;

      .imageDiv {
        width: 100%;
        min-height: 40%;
        background-color: black;
        margin-bottom: 1rem;
      }
      .textDiv {
        text-align: center;
        h4 {
          color: black;

          text-decoration: underline white;
        }
        p {
          font-weight: 500;
          color: gray;
          text-decoration: underline white;
          font-size: 0.9rem;
          padding: 0 2rem;
          text-align: center;
        }
      }
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.footer {
  height: fit-content;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 8rem;
  flex-direction: column;
  padding-bottom: min(20rem, 50%);

  h1 {
    font-size: 3rem;
  }
  p {
    color: rgba(255, 255, 255, 0.599);
    &:hover {
      color: white;
      cursor: cell;
    }
  }
  .bottomBox {
    margin: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    .imageDiv {
      width: 10rem;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .allLinksContainer {
      display: flex;
      align-items: start;
      gap: 6rem;
      .linksDiv {
        display: flex;
        flex-direction: column;
        line-height: 2.3rem;
        font-size: 1rem;
        a {
          text-decoration: none;
          color: gray;
        }
        a:hover {
          color: white;
          text-decoration: underline white;
          transition: 0.2s ease-in-out;
          cursor: cell;
        }
      }
    }
  }
  .heart {
    color: red;
    text-decoration: none;
  }
  .adildyer:hover {
    color: yellow;
    transition: 0.2s ease-in;
    cursor: cell;
  }
}

.joinUsPage {
  margin-top: 8rem;
  background-color: black;
  height: 100vh;
  @include flexCenter();
  color: white;
  flex-direction: column;
  .stepsCards {
    @include flexCenter();
    gap: 2rem;
    .card {
      width: 25rem;
      border-radius: 2rem;
      height: 25rem;
      background-color: black;
      color: white;
      @include flexCenter();
      text-align: center;
      background-color: rgb(110, 93, 237);
      .hrline {
        width: 100%;
        height: 0.1rem;
        background-color: white;
        margin: 1rem 0;
      }
      p {
        padding: 2rem;
      }
      hr {
        color: white;
        background-color: white;
      }
    }
  }
}

.contactPageDiv {
  margin-top: 8rem;
  height: 100vh;
  @include flexCenter();
  flex-direction: column;
  .descriptionDiv {
    width: 100%;
  }
  .iDiv {
    display: flex;
    i {
      margin: 1rem;
      font-size: 2rem;
    }
  }
}

.grievance {
  @include flexCenter();
  flex-direction: column;
  padding: 0 5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.grievancePortal {
  margin-top: 10rem;
  img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }
  .textBody {
    padding: 5rem 5rem;
    button {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
}

.ourTeamDiv {
  margin-top: 10rem;
  text-align: center;

  hr {
    border-top: 4px dashed darkcyan;
  }
  h1 {
    color: #071952;
    padding-bottom: 1rem;
    border-bottom: #071952 solid thick;
  }
  h2 {
    padding: 2rem 5rem;
    margin-bottom: 3rem;
    text-align: start;
    border-bottom: 4px dotted pink;
    color: #071952;
  }
  h3 {
    padding: 1rem 5rem;
    // background-color: rgba(162, 255, 255, 0.286);
    background-color: pink;
    color: #071952;
    text-align: start;
    margin: 3rem 0;
  }
  .announcements {
    height: fit-content;
    .cardsAnnoun {
      overflow: auto;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0rem 5rem;
      padding-bottom: 2rem;

      .card {
        height: 25rem;
        width: 25rem;
        background-color: rgba(0, 0, 255, 0.229);
        background-color: rgba(162, 232, 255, 0.661);
        color: midnightblue;
        border-radius: 1.5rem;
        .imageDiv {
          border-radius: 1.5rem;
          overflow: hidden;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.4rem !important;
  }
  .collaborationDiv {
    .saying {
      display: none;
    }
    .saying-mobile {
      display: inline;
    }
  }
  .supportServicesDiv {
    .outerDiv {
      flex-wrap: wrap;
    }
  }

  .nav {
    padding: 0;
    justify-content: center;
    .leftPart {
      font-size: 0.8rem;
      padding: 1rem;
      .dropdown {
        button {
          font-size: 0.8rem;
        }
      }
    }
    .rightPart {
      display: none;
    }
  }
  .homefirst {
    .textDiv {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 1.9rem !important;
      text-align: center;
      padding-left: 0.5rem;
    }
    h3 {
      span {
        display: block;
      }
      text-align: center;
    }
    p {
      padding: 2rem;
      margin: 0;
    }
    .imageDiv {
      width: 100%;
      border-radius: 0;
    }
  }
  .collaborationDiv {
    padding: 3rem 0;
    h1 {
      padding-top: 11rem;
    }
  }
  .descriptionDiv {
    padding: 0;
    flex-direction: column !important;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    margin-top: 3rem;
    .imageDiv {
      height: 40%;
      width: 100%;
      padding: 0;
    }
    .textDiv {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    h5 {
      width: 80%;
    }
    h5,
    span {
      font-size: 1.1rem;
    }
  }
  .calendarofevents {
    margin: 3rem 0rem;
    iframe {
      height: 25rem;
    }
  }
  .announcements {
    padding: 0 1rem;
  }
  .studygroups {
    .cardsContainer {
      padding: 0;
      align-items: center;
      justify-content: center;
    }
  }
  .supportServicesDiv {
    margin-top: 5rem;
    height: fit-content;
    margin-bottom: 5rem;
  }
  .grievance {
    padding: 2rem;
    overflow: hidden;
    img {
      margin: 1rem;
      width: 15rem;
    }
  }
  .qbon {
    margin-bottom: 8rem;
  }
  .footer {
    padding: 1rem;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: min(30rem, 50%);
    .bottomBox {
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      .allLinksContainer {
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }
    }
  }
  .ourTeamDiv {
    h2,
    h3 {
      text-align: center;
    }
    .announcements {
      padding-left: 0;
      padding-right: 0;
    }
    .cardsAnnoun {
      overflow: hidden !important;
      .card {
        border-radius: 0 !important;
        .imageDiv {
          border-radius: 0 !important;
        }
      }
    }
  }
}
