* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: Calibri, "Trebuchet MS", sans-serif; */
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

.fadeInSection {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.isVisible {
  opacity: 1;
}
/* body {
  background-color: #1b263b;
  color: white;
} */

.homePageHeading {
  text-shadow: -4px 4px rgba(168, 168, 168, 0.334);
  background-color: #f5f7f8;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.236);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.MainTitleShadow {
  text-shadow: -4px 4px rgba(168, 168, 168, 0.334);
}

.BigScrollContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: -8rem;
  transition: 0.4s ease-in-out;
  z-index: 40;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
  padding: 0 4rem !important;
  backdrop-filter: blur(3px); /* Adjust the blur radius as needed */
  -webkit-backdrop-filter: blur(3px); /* For Safari */
  z-index: 1000;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav .leftPart {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.nav .leftPart .dropdown-menu {
  overflow: hidden;
  border: none;
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.141);
  margin-top: 1rem;
}
.nav .leftPart a {
  margin: 1rem;
  background-color: rgba(255, 255, 255, 01);
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.nav .leftPart a:hover {
  color: darkred;
  font-weight: bold;
  text-decoration: underline darkred;
}
.nav .leftPart .profileImgDiv {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .leftPart .profileImgDiv .dropdown {
  border: none;
}
.nav .leftPart .profileImgDiv .dropdown button {
  background-color: transparent;
  border: none;
}
.nav .leftPart .profileImgDiv img {
  width: 3rem;
  border-radius: 1rem;
}
.nav .rightPart {
  display: flex;
  flex-wrap: wrap;
}
.nav .rightPart img {
  width: 5rem;
  height: 5rem;
}
.nav .rightPart div {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}

.hidden {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.homefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 10rem;
}
.homefirst .textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
}
.homefirst .textDiv h1 div {
  width: 100%;
  font-family: "Gravitas One", serif;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 100;
}
.homefirst .textDiv .nfsuEmblemHomeFirst {
  width: 25px;
  height: auto;
  vertical-align: middle;
}
.homefirst .imageDiv {
  background-color: black;
  height: 60vh;
  width: 75vw;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  overflow: hidden;
}
.homefirst .imageDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collaborationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  padding: 5rem;
  padding-bottom: 0;
}
.collaborationDiv h1 {
  font-size: 3rem;
  text-align: center;
}
.collaborationDiv .saying {
  position: absolute;
}
.collaborationDiv .saying img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.collaborationDiv .saying span {
  background-color: rgba(0, 128, 128, 0.273);
  position: absolute;
  top: 0;
  left: 7rem;
  border-radius: 3rem;
  font-style: italic;
  font-weight: 500;
  padding: 1rem;
  color: midnightblue;
  text-wrap: nowrap;
}
.collaborationDiv .saying-mobile {
  display: none;
}

.announcements {
  height: fit-content;
  color: black;
  text-align: center;
  background-color: white;
  margin-bottom: 5rem;
}

.announcements .cardsAnnoun::-webkit-scrollbar {
  display: none;
}
.announcements .cardsAnnoun {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  padding: 3rem 6rem;
  gap: 2rem;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
}
.scrollBtnDiv {
  position: sticky;
  top: 50%;
  z-index: 100;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  .imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.341);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.269);
    img {
      width: 2rem;
      object-fit: contain;
    }
  }
  .imgDiv:hover {
    transform: scale(1.05);
    backdrop-filter: blur(5px);
  }
}
.scrollBtnDivLeft {
  left: 0;
}
.scrollBtnDivRight {
  right: 0;
}
.announcements .cardsAnnoun .card {
  min-width: 25rem;
  height: fit-content;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0;
  padding: 1rem;
}
.announcements .cardsAnnoun .card .imageDiv {
  height: 15rem;
  background-color: black;
  width: 100%;
}
.announcements .cardsAnnoun .card .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.announcements .cardsAnnoun .card .textBody {
  height: 40%;
  width: 100%;
}

.descriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  padding: 1rem 0;
}
.descriptionDiv .imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  padding: 1rem;
}
.descriptionDiv .imageDiv .imgContainerDiv {
  background-color: black;
  width: 80%;
  height: 80%;
  border-radius: 0rem;
  overflow: hidden;
}
.descriptionDiv .imageDiv .imgContainerDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptionDiv .textDiv {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.descriptionDiv .textDiv h1 {
  font-size: 2.5rem;
}
.descriptionDiv .textDiv h5 {
  font-size: 1.5rem;
}
.descriptionDiv .textDiv p {
  width: 90%;
}

.calendarofevents {
  text-align: center;
  height: fit-content;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.calendarofevents div {
  width: 100%;
}
.calendarofevents iframe {
  height: 95vh;
}

.pastevents {
  text-align: center;
  color: black;
}
.pastevents a {
  text-decoration: none;
}
.pastevents .card {
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  color: midnightblue;
}

.risingStarDiv .card {
  width: 25rem;
}

.studygroups {
  text-align: center;
  color: black;
  padding: 4rem 2rem;
  background: #a2d2ff;
  margin: 0 0;
}
.studygroups .cardsContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 6rem;
  position: relative;
}
.studygroups .cardsContainer .card {
  width: 13rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  height: 10rem;
  position: relative;
  background-color: beige;
  border: none;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.studygroups .cardsContainer .card p {
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: white;
}
.studygroups .cardsContainer .card .symbol {
  background-color: white;
  opacity: 0.8;
  display: inline;
  padding: 0.8rem;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 0.5rem;
}
.studygroups .cardsContainer .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.supportServicesDiv {
  height: fit-content;
  padding: 2rem;
  padding-top: 0;
  margin-top: 5rem;
  text-align: center;
}
.supportServicesDiv .outerDiv {
  height: 100%;
  background-color: white;
  border-radius: 0rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supportServicesDiv .outerDiv .card {
  width: 23rem;
  height: 40rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: white;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.supportServicesDiv .outerDiv .card .imageDiv {
  width: 100%;
  min-height: 16rem;
  background-color: black;
  margin-bottom: 1rem;
}
.supportServicesDiv .outerDiv .card .textDiv {
  text-align: center;
}
.supportServicesDiv .outerDiv .card .textDiv h4 {
  color: black;
  text-decoration: underline white;
}
.supportServicesDiv .outerDiv .card .textDiv p {
  font-weight: 500;
  color: gray;
  text-decoration: underline white;
  font-size: 0.9rem;
  padding: 0 2rem;
  text-align: center;
}
.supportServicesDiv .outerDiv .card .btnDiv {
  padding: 1rem 0;
}
.supportServicesDiv .outerDiv .card:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.siteMapDiv {
  width: 100%;
  height: fit-content;
  padding: 5rem 10rem;
  /* background-color: #1b263b;
  color: blanchedalmond; */
  background-color: #f5f7f8;
  color: midnightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  img {
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.footer {
  height: fit-content;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 8rem;
  flex-direction: column;
  padding-bottom: min(20rem, 50%);
}
.footer h1 {
  font-size: 3rem;
}
.footer p {
  color: rgba(255, 255, 255, 0.599);
}
.footer p:hover {
  color: white;
  cursor: cell;
}
.footer .bottomBox {
  margin: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
}
.footer .bottomBox .imageDiv {
  width: 10rem;
}
.footer .bottomBox .imageDiv img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer .bottomBox .allLinksContainer {
  display: flex;
  align-items: start;
  gap: 6rem;
}
.footer .bottomBox .allLinksContainer .linksDiv {
  display: flex;
  flex-direction: column;
  line-height: 2.3rem;
  font-size: 1rem;
}
.footer .bottomBox .allLinksContainer .linksDiv a {
  text-decoration: none;
  color: gray;
}
.footer .bottomBox .allLinksContainer .linksDiv a:hover {
  color: white;
  text-decoration: underline white;
  transition: 0.2s ease-in-out;
  cursor: cell;
}
.footer .heart {
  color: red;
  text-decoration: none;
}
.footer .adildyer:hover {
  color: yellow;
  transition: 0.2s ease-in;
  cursor: cell;
}

.joinUsPage {
  margin-top: 8rem;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.joinUsPage .stepsCards {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.joinUsPage .stepsCards .card {
  width: 25rem;
  border-radius: 2rem;
  height: 25rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(110, 93, 237);
}
.joinUsPage .stepsCards .card .hrline {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  margin: 1rem 0;
}
.joinUsPage .stepsCards .card p {
  padding: 2rem;
}
.joinUsPage .stepsCards .card hr {
  color: white;
  background-color: white;
}

.contactPageDiv {
  padding-top: 10rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}
.contactPageDiv .headingDiv {
  background-color: lightskyblue;
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: darkblue;
}
.contactPageDiv .descriptionDiv {
  width: 100%;
}
.contactPageDiv .descriptionDiv .imgContainerDiv {
  overflow: hidden;
  border-radius: 1.5rem;
}
.contactPageDiv .descriptionDiv .imgContainerDiv img {
  object-fit: cover;
}
.contactPageDiv .iDiv {
  display: flex;
}
.contactPageDiv .iDiv i {
  margin: 1rem;
  font-size: 2rem;
}
.ourTeamDiv {
  margin-top: 10rem;
  text-align: center;
}
.ourTeamDiv hr {
  border-top: 4px dashed darkcyan;
}
.ourTeamDiv h1 {
  color: #071952;
  padding-bottom: 1rem;
  border-bottom: 4px dashed midnightblue;
}
.ourTeamDiv h2 {
  padding: 2rem 5rem;
  margin-bottom: 3rem;
  background-color: lightskyblue;
  text-align: start;
  color: #071952;
}
.ourTeamDiv h3 {
  padding: 1rem 5rem;
  background-color: pink;
  color: #071952;
  text-align: start;
  margin: 3rem 0;
}
.ourTeamDiv .announcements {
  height: fit-content;
}
.ourTeamDiv .announcements .cardsAnnoun {
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 5rem;
  padding-bottom: 2rem;
}
.ourTeamDiv .announcements .cardsAnnoun .card {
  height: 25rem;
  width: 25rem;
  background-color: rgba(0, 0, 255, 0.229);
  background-color: rgba(30, 143, 255, 0.271);
  color: midnightblue;
  border-radius: 1.5rem;
  padding: 0;
}
.ourTeamDiv .announcements .cardsAnnoun .card .imageDiv {
  /* border-radius: 0.8rem; */
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  overflow: hidden;
}

.bookClubDiv .firstCover {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookClubDiv .firstCover .textDiv {
  text-align: center;
  position: absolute;
  color: black;
}
.bookClubDiv .firstCover .textDiv h1 {
  color: white;
  font-size: 13rem;
  font-family: "Kristi", cursive;
}
.bookClubDiv .firstCover .textDiv h6 {
  background-color: yellow;
  display: inline;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}
.bookClubDiv .firstCover .textDiv p {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
}
.bookClubDiv .firstCover img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.bookClubDiv .secondCover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  background-color: black;
}
.bookClubDiv .secondCover #coverImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.bookClubDiv .secondCover .oneCardDiv {
  padding: 0rem;
}
.bookClubDiv .secondCover .oneCardDiv .announcements {
  height: fit-content;
  margin: 0;
  background: transparent;
}
.bookClubDiv .secondCover .oneCardDiv .announcements a {
  text-decoration: none;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 30rem;
  width: 40rem;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card .imageDiv {
  height: 70%;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card .textBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bookClubDiv .secondCover .scroll-menu {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  padding: 2rem 5rem;
  scroll-behavior: smooth;
}
.bookClubDiv .secondCover .scroll-menu .announcements {
  all: initial;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun {
  padding: 0.8rem;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun a {
  text-decoration: none;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun .card {
  padding: 0.7rem;
}
.bookClubDiv
  .secondCover
  .scroll-menu
  .announcements
  .cardsAnnoun
  .card
  .textBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upcomingEventsCover {
  color: blanchedalmond;
  .upcomingEventsCards {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    .cardsAnnoun {
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      padding: 3rem 6rem;
      gap: 2rem;
      overflow: scroll;
      scroll-behavior: smooth;
      position: relative;
      background-color: #1b263b;
    }
    .cardsAnnoun .card {
      min-width: 25rem;
      height: fit-content;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      border-radius: 0;
      padding: 1rem;
    }
    .cardsAnnoun .card .imageDiv {
      height: 15rem;
      background-color: black;
      width: 100%;
    }
    .cardsAnnoun .card .imageDiv img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .cardsAnnoun .card .textBody {
      height: 40%;
      width: 100%;
    }
  }
}

.thirdCover {
  min-height: 130vh;
  background-color: rgb(21, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .headingLines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    color: white;
    p {
      color: rgba(255, 255, 255, 0.605);
    }
    h1 {
      line-height: 2rem;
    }
  }

  .whiteBgBox::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .whiteBgBox {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .whiteBgBox {
    background-color: white;
    background: url("https://img.freepik.com/premium-photo/white-checkered-paper-texture-notebook-sheet-with-empty-space_84485-3798.jpg");
    width: 90%;
    border-radius: 1rem;
    height: 50rem;
    position: relative;
    overflow: scroll;

    .chatContainer {
      padding: 1rem;
      overflow: scroll;
      position: relative;
      min-height: 90%;
      .receivedMsg {
        margin: 1rem 0;
        display: flex;
        border-radius: 1rem;
        height: fit-content;
        width: 40%;
        .imgPart {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
        }
        .textPart {
          width: 80%;
          border-radius: 1rem;
          .userDetail {
            padding: 0.2rem;
            h6 {
              margin: 0;
              color: midnightblue;
            }
          }
          .messageDetail {
            border-radius: 1rem;
            padding: 1rem;
            color: midnightblue;
            background-color: rgba(0, 0, 255, 0.329);
          }
        }
      }
      .sentMsg {
        margin: 1rem 0;
        display: flex;
        border-radius: 1rem;
        height: fit-content;
        width: 40%;
        margin-left: auto;

        .imgPart {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
        }
        .textPart {
          width: 80%;
          border-radius: 1rem;
          .userDetail {
            padding: 0.2rem;
            h6 {
              margin: 0;
              color: midnightblue;
            }
          }
          .messageDetail {
            border-radius: 1rem;
            padding: 1rem;
            color: midnightblue;
            background-color: rgba(0, 0, 255, 0.329);
          }
        }
      }
    }
    .writeContainer {
      width: 100%;
      height: 10%;
      background-color: rgba(0, 0, 255, 0.329);
      position: sticky;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;

      form,
      input {
        width: 100%;
        font-style: italic;
        margin-right: 0.5rem;
        height: 100%;
        color: grey;
      }
      button {
        background-color: rgba(25, 25, 112, 0.649);
        border: none;
        padding: 0 1.5rem;
        cursor: pointer;
      }
      button,
      input {
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;
      }
      button:hover {
        padding: 0 2rem;
        background-color: rgba(25, 25, 112, 0.649);
        border: none;
      }
    }
  }
}

.fifthCover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  background-color: #1b263b;
  width: 100%;
  height: fit-content;
  .cardsAnnoun {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    scroll-behavior: smooth;
    columns: 3;
  }
  .cardsAnnoun .card {
    width: 25rem;
    height: 40rem;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0;
    padding: 1rem;
  }
  .cardsAnnoun .card .imageDiv {
    min-height: 60%;
    background-color: black;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cardsAnnoun .card .textBody {
    height: 40%;
    width: 100%;
  }
}

.eventPage .imageDiv {
  width: 100%;
  height: 30rem;
  padding: 0.5rem;
}
.eventPage .imageDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  box-shadow: 0 0px 20px grey;
  border-radius: 0.7rem;
}
.eventPage .contentDiv {
  padding: 5rem;
  text-align: center;
  background-color: rgba(112, 41, 25, 0.053);
}
.eventPage .contentDiv h1,
.eventPage .contentDiv h4 {
  font-family: "Kristi", cursive;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  box-shadow: rgba(42, 67, 165, 0.217) 0 3px 10px;
  box-shadow: rgba(165, 42, 42, 0.4) 0 2px 20px inset;
  padding: 0.2rem;
  border-radius: 1rem;
  background-color: rgba(112, 41, 25, 0.6);
  color: bisque;
}
.eventPage .contentDiv p {
  text-align: justify;
  font-size: 1rem;
}
.eventPage .contentDiv p span {
  display: block;
  font-weight: 900;
  margin: 2rem 0;
  font-size: 1.3rem;
  border-bottom: thin brown dashed;
}

.eventGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
}
.eventGallery img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.7rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.327);
  transition: all 0.5s;
}
.eventGallery img:hover {
  width: min(30rem, 100%);
}

.galleryLinesDiv {
  .galleryButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container {
    height: 21rem;
    position: relative;
    overflow: hidden;
  }

  .photobanner {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 30s linear infinite;
  }

  .photobanner img {
    margin: 0.5em;
    border: none;
    height: 20rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.327);
    width: 20rem;
    object-fit: cover;
    object-position: center;
  }
  .photobanner img:nth-child(odd) {
    width: 33rem;
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.galleryPageDiv {
  display: flex;
  background-color: #a2d2ff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 5rem;
  h1 {
    margin: 3rem;
  }
}

.accountBig {
  width: 100%;
}
.accountBig .notRegisteredDiv {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
  }
}
.accountBig .notRegisteredDiv img {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accountBig .notRegisteredDiv .inputFieldsDiv form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.accountBig .notRegisteredDiv .inputFieldsDiv .inputField {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  input,
  select {
    width: 50rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}
.accountBig .registeredDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  .leftPart {
    background-color: #e3e2ff;
    width: 30%;
    color: midnightblue;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    .imgDiv {
      img {
        border-radius: 50%;
      }
    }
    .detailsDiv {
      padding: 0 1rem;
    }
    .bottomPart {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  .rightPart {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e2ff;
    padding: 2rem;
    min-height: 100vh;
    .noOfMeetings {
      margin-top: 8rem;
      padding: 2rem;
      border-radius: 2rem;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
      h5 {
        margin: 0;
      }
      h5:nth-child(2) {
        border-radius: 30%;
        padding: 1rem;
        background-color: midnightblue;
        color: white;
      }
    }
    .titleLine {
      padding: 1.5rem;
      color: midnightblue;
    }
    .upcomingEventsCards {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      .cardsAnnoun {
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        padding: 3rem 6rem;
        gap: 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: relative;
        border-radius: 2rem;
        background-color: #8b9cff;
        a {
          button {
            width: 100% !important;
          }
        }
      }
      .cardsAnnoun .card {
        min-width: 25rem;
        height: fit-content;
        background-color: white;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border-radius: 0;
        padding: 1rem;
      }
      .cardsAnnoun .card .imageDiv {
        height: 15rem;
        background-color: black;
        width: 100%;
      }
      .cardsAnnoun .card .imageDiv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .cardsAnnoun .card .textBody {
        height: 40%;
        width: 100%;
      }
    }
    #quote {
      text-align: center;
    }
    #quoteAuthor {
      text-align: center;
    }
  }
}

.votingBig {
  height: 100vh;
}
.votingBig .upperColorDiv {
  width: 100%;
  height: 100%;
  background-color: #a2d2ff;
  position: absolute;
  z-index: -1;
}
.votingBig .leftPart {
  position: absolute;
  left: 0;
  display: flex;
  padding: 12rem 4rem;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
}
.votingBig .leftPart .textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
  align-items: start;
}
.votingBig .leftPart .textDiv h2 {
  color: #000;
}
.votingBig .leftPart .formButtons {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.votingBig .leftPart .formButtons button {
  padding: 1rem;
  width: 25rem;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  border: none;
  color: white;
  font-size: 1.2rem;
}
.votingBig .rightPart {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.votingBig .rightPart .imgDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.votingBig .rightPart .imgDiv img {
  width: 90%;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.15);
}

/* .adminBig {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

.adminBig h1 {
  margin: 2rem;
  margin-top: 10rem;
}
.adminBig .adminAddEvent {
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.adminBig .adminAddEvent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adminBig .adminDownloadEventInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
}
.adminBig .adminRisingStarAddOrRemove {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .adminAddRisingStar,
  .adminRemoveRisingStar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .adminAddRisingStar form,
  .adminRemoveRisingStar form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
} */

.adminBig {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  padding-top: 8rem;
  background-color: #e3e2ff;
  .leftPart {
    background-color: #e3e2ff;
    width: 20%;
    color: midnightblue;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    .titleDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        width: 80%;
        background-color: rgba(255, 255, 0, 0.557);
        box-shadow: 0 0 20px rgb(205, 205, 0);
        padding: 0.5rem;
        border-radius: 1rem;
        border: dashed thick midnightblue;
      }
    }
    .tabs {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      .tab {
        width: 11rem;
        padding: 1rem;
        box-shadow: 0 0 10px #6bcffe99;
        color: midnightblue;
        background-color: #6bcffe;
        border-radius: 1rem;
        h4 {
          margin: 0 !important;
        }
      }
      .tab:hover {
        background-color: #8b9cff;
        box-shadow: 0 0 10px #47508299;
        cursor: pointer;
      }
    }
  }
  .rightPart {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e2ff;
    padding: 2rem;
    .rightSideView {
      width: 100%;
      height: 100%;
    }
    .Dashboard {
      .topRoundDivs {
        display: flex;
        gap: 1rem;
        .noOfMeetings {
          padding: 1rem;
          border-radius: 1rem;
          background-color: midnightblue;
          color: blanchedalmond;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
          i {
            margin: 0 0.5rem;
          }
        }
      }

      .lineTwo {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 27rem;
        .leftPart {
          width: fit-content;
          height: 100%;
          .roundDiv {
            padding: 1rem;
            border-radius: 1rem;
            height: 100%;
            background-color: #8b9cff;
            color: blanchedalmond;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
          }
          .genderDoughnutChart {
            display: flex;
            flex-direction: column;
          }
        }
        .rightPart {
          width: 100%;
          height: 100%;
          padding: 0;
          .roundDiv {
            border-radius: 1rem;
            height: 100%;
            background-color: #8b9cff;
            color: blanchedalmond;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
            padding: 2rem;
          }
          .previousMeetingDetailsDiv {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .upcomingEvents {
        width: 100%;
        .titleLine {
          padding: 1rem 0;
          text-align: center;
          color: midnightblue;
        }
        .upcomingEventsCards {
          width: 100%;
          height: fit-content;
          overflow: hidden;
          .cardsAnnoun {
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: flex;
            padding: 3rem 6rem;
            gap: 2rem;
            overflow: scroll;
            scroll-behavior: smooth;
            position: relative;
            border-radius: 1rem;
            background-color: #8b9cff;
          }
          .cardsAnnoun .card {
            min-width: 25rem;
            height: fit-content;
            background-color: white;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
            border-radius: 0;
            padding: 1rem;
          }
          .cardsAnnoun .card .imageDiv {
            height: 15rem;
            background-color: black;
            width: 100%;
          }
          .cardsAnnoun .card .imageDiv img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .cardsAnnoun .card .textBody {
            height: 40%;
            width: 100%;
          }
        }
      }
      .previousEvents {
        width: 100%;
        .titleLine {
          padding: 1rem 0;
          text-align: center;
          color: midnightblue;
        }
        .upcomingEventsCards {
          width: 100%;
          height: fit-content;
          overflow: hidden;
          .cardsAnnoun {
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: flex;
            padding: 3rem 6rem;
            gap: 2rem;
            overflow: scroll;
            scroll-behavior: smooth;
            position: relative;
            border-radius: 1rem;
            background-color: #8b9cff;
          }
          .cardsAnnoun .card {
            min-width: 25rem;
            height: fit-content;
            background-color: white;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
            border-radius: 0;
            padding: 1rem;
          }
          .cardsAnnoun .card .imageDiv {
            height: 15rem;
            background-color: black;
            width: 100%;
          }
          .cardsAnnoun .card .imageDiv img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .cardsAnnoun .card .textBody {
            height: 40%;
            width: 100%;
          }
        }
      }
      .clubDetailsTableDiv {
        width: 100%;
        margin: 1rem 0;
        .roundDiv {
          border-radius: 1rem;
          height: 100%;
          background-color: #8b9cff;
          color: blanchedalmond;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
          padding: 1rem;
          h4 {
            margin: 0.5rem 0;
            text-align: center;
          }
          table {
            border-radius: 1rem;
            overflow: hidden;
            td,
            th {
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
      .siteMapDiv {
        width: 100%;
        margin: 1rem 0;
        .roundDiv {
          width: 100%;
          border-radius: 1rem;
          height: 100%;
          background-color: white;
          color: blanchedalmond;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
          padding: 1rem;
          h4 {
            margin: 0.5rem 0;
            text-align: center;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: 0 0 20px rgba(169, 169, 169, 0.256);
          }
        }
      }
      .reportDownloadDiv {
        width: 100%;
        margin: 1rem 0;
        .roundDiv {
          width: 100%;
          border-radius: 1rem;
          height: 100%;
          background-color: #8b9cff;
          color: blanchedalmond;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
          padding: 1rem;
          h4 {
            margin: 0.5rem 0;
            text-align: center;
          }
          .btnsDiv {
            display: flex;
            gap: 2rem;
            padding: 2rem;
          }
        }
      }
    }
    .RisingStars {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      .roundDiv {
        width: 50%;
        padding: 1rem;
        border-radius: 1rem;
        height: 60vh;
        background-color: #b88ea6;
        color: blanchedalmond;
        font-weight: bold;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
    .Events {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      .roundDiv {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        height: fit-content;
        background-color: #8b9cff;
        color: blanchedalmond;
        font-weight: bold;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }
}

.placementReportBigDiv {
  .headerImage {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    img {
      width: 15rem;
    }
  }
  .headerTitle {
    text-align: center;
    h1,
    h4,
    h5 {
      font-family: "Cinzel Decorative", serif;
      font-weight: bolder;
      color: midnightblue;
      text-shadow: 0 0 5px rgba(30, 143, 255, 0.433);
    }
  }
  .headerImage2 {
    display: flex;
    justify-content: center;
    img {
      width: 35rem;
      border-radius: 2rem;
      box-shadow: 0 0 20px rgba(240, 128, 128, 0.442);
    }
  }
  .tableContent {
    border-radius: 1.5rem;
    overflow: hidden;
    thead th {
      background-color: midnightblue;
      color: white;
    }
    tbody th {
      background-color: rgba(246, 39, 74, 0.719);
      color: black;
    }
    tbody td {
      background-color: antiquewhite;
    }
    th,
    td {
      text-align: center;
    }
  }
  .page2 {
    display: flex;
    height: 100vh;
    margin-bottom: 5rem;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    .headerTitle {
      padding-bottom: 2rem;
      margin-top: 8rem;
      h1 {
        text-align: center;
      }
    }
    table {
      width: 80%;
    }
  }
  .overlay {
    position: relative;
    z-index: -4;
    overflow: hidden;
    .strip {
      position: absolute;
      height: 30rem;
      width: 1rem;
      background-color: midnightblue;
      transform: rotate(45deg);
      top: -7rem;
      box-shadow: 0 0 10px rgba(25, 25, 112, 0.705);
    }
  }
  .page3 {
    padding: 5rem;
    .headerTitle {
      padding: 3rem;
    }
    .textContent {
      text-align: center;
      padding: 1rem;
    }
  }

  @media print {
    .breakPageDiv {
      break-inside: avoid;
    }
  }
}

.clubCoordinatorDash {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 8rem;
  background-color: #e3e2ff;
  .titleDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      width: 50%;
      background-color: rgba(255, 255, 0, 0.557);
      box-shadow: 0 0 20px rgb(205, 205, 0);
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;
      color: midnightblue;
      border: dashed thick midnightblue;
    }
  }
  .topRoundDivs {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    .noOfMeetings {
      padding: 1rem;
      border-radius: 1rem;
      background-color: midnightblue;
      color: blanchedalmond;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
      i {
        margin: 0 0.5rem;
      }
    }
  }
  .markAttendanceList {
    width: 100%;
    height: 50rem;
    background-color: blanchedalmond;
    border-radius: 1rem;
    padding: 2rem;
    .searchBox {
      input {
        border: none;
        margin: 2rem 0;
        color: blanchedalmond;
        background-color: #8b9cff;
      }
    }
  }
  .lineTwo {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 27rem;
    .leftPart {
      width: fit-content;
      height: 100%;
      .roundDiv {
        padding: 1rem;
        border-radius: 1rem;
        height: 100%;
        background-color: #8b9cff;
        color: blanchedalmond;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
      }
      .genderDoughnutChart {
        display: flex;
        flex-direction: column;
      }
    }
    .rightPart {
      width: 100%;
      height: 100%;
      padding: 0;
      .roundDiv {
        border-radius: 1rem;
        height: 100%;
        background-color: #8b9cff;
        color: blanchedalmond;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 8px rgba(169, 169, 169, 0.266);
        padding: 2rem;
      }
      .previousMeetingDetailsDiv {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .upcomingEvents {
    width: 100%;
    .titleLine {
      padding: 1rem 0;
      text-align: center;
      color: midnightblue;
    }
    .upcomingEventsCards {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      .cardsAnnoun {
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        padding: 3rem 6rem;
        gap: 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: relative;
        border-radius: 1rem;
        background-color: #8b9cff;
      }
      .cardsAnnoun .card {
        min-width: 25rem;
        height: fit-content;
        background-color: white;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border-radius: 0;
        padding: 1rem;
      }
      .cardsAnnoun .card .imageDiv {
        height: 15rem;
        background-color: black;
        width: 100%;
      }
      .cardsAnnoun .card .imageDiv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .cardsAnnoun .card .textBody {
        height: 40%;
        width: 100%;
      }
    }
  }
  .previousEvents {
    width: 100%;
    .titleLine {
      padding: 1rem 0;
      text-align: center;
      color: midnightblue;
    }
    .upcomingEventsCards {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      .cardsAnnoun {
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        padding: 3rem 6rem;
        gap: 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: relative;
        border-radius: 1rem;
        background-color: #8b9cff;
      }
      .cardsAnnoun .card {
        min-width: 25rem;
        height: fit-content;
        background-color: white;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border-radius: 0;
        padding: 1rem;
      }
      .cardsAnnoun .card .imageDiv {
        height: 15rem;
        background-color: black;
        width: 100%;
      }
      .cardsAnnoun .card .imageDiv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .cardsAnnoun .card .textBody {
        height: 40%;
        width: 100%;
      }
    }
  }
  .basicClubDetails {
    border-radius: 1rem;
    background-color: #b88ea6;
    width: 100%;
    height: fit-content;
    margin: 2rem;
    padding: 2rem;
    color: blanchedalmond;
    .basicField {
      display: flex;
      gap: 1rem;
    }
  }
  .nextMeetingDetails {
    border-radius: 1rem;
    background-color: #8b9cff;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 2rem;
    color: blanchedalmond;
  }
}

@media (max-width: 1024px) {
  .nav {
    width: 100%;
    padding: 1rem !important;
    justify-content: space-between;
    /* background-color: #b88ea688; */
    flex-wrap: nowrap;
    .leftPart {
      font-size: 0.6rem;
      .dropdown button {
        font-size: 0.8rem;
      }
      #about,
      #contact,
      #home {
        display: none;
      }
      .profileImgDiv {
        margin: 0.3rem;
      }
    }
    .rightPart {
      justify-content: center;
      align-items: center;
      h6 {
        display: none;
      }
    }
  }

  .homefirst .textDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    overflow-x: hidden;
    .nfsuEmblemHomeFirst {
      width: 5rem !important;
    }
    h1 {
      text-align: center !important;
      overflow: hidden;
      letter-spacing: 0;
    }
    h1 div {
      display: flex;
      width: 100%;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      font-size: 2.6rem !important;
      letter-spacing: 0 !important;
    }
    span img {
      width: 1rem !important;
    }
    h3 {
      text-align: center;
      span {
        display: block;
      }
    }
    p {
      padding: 2rem;
      margin: 0;
    }
  }
  .collaborationDiv .saying {
    display: none;
  }
  .collaborationDiv .saying-mobile {
    display: inline;
  }
  .supportServicesDiv .outerDiv {
    flex-wrap: wrap;
  }
  .collaborationDiv {
    padding: 1rem 0;
  }
  .collaborationDiv h1 {
    padding-top: 11rem;
  }

  .descriptionDiv {
    padding: 0;
    flex-direction: column !important;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    margin-top: 2rem;
  }
  .descriptionDiv .imageDiv {
    height: 40%;
    width: 100%;
    padding: 0;
  }
  .descriptionDiv .textDiv {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .descriptionDiv h5 {
    width: 100%;
    text-align: center;
  }
  .descriptionDiv h5,
  .descriptionDiv span {
    font-size: 1.1rem;
    text-align: center;
  }
  .descriptionDiv .textDiv p {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .headingFlowers {
    display: none;
  }
  .calendarofevents {
    margin: 3rem 0rem;
  }
  .calendarofevents iframe {
    height: 25rem;
  }
  .announcements {
    padding: 0 0rem;
    h6 {
      padding: 0 1rem;
    }
    .scrollBtnDiv {
      display: none;
    }
    .cardsAnnoun {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .pastevents #pastEventAnnId {
    margin-bottom: 0;
  }
  .risingStarDiv {
    h1 {
      display: flex;
    }
  }

  .studygroups .cardsContainer {
    padding: 4rem 0;
    align-items: center;
    justify-content: center;
  }
  .thirdCover {
    padding: 2rem 1rem;
  }
  .supportServicesDiv {
    margin-top: 2rem;
    height: fit-content;
    margin-bottom: 5rem;
    .homePageHeading {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .qbon {
    span {
      font-size: 2rem;
    }
    margin-bottom: 8rem;
  }
  .siteMapDiv {
    padding: 5rem 0.5rem;
    display: flex;
  }
  .footer {
    padding: 1rem;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: min(30rem, 50%);
  }
  .footer .bottomBox {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  .footer .bottomBox .allLinksContainer {
    text-align: start;
    gap: 0rem;
    flex-wrap: wrap;
    justify-content: center;
    .linksDiv {
      width: 50%;
      padding: 1rem;
      line-height: 2rem;
    }
  }
  .chatContainer {
    .receivedMsg,
    .sentMsg {
      width: 100% !important;
      img {
        padding: 0.5rem;
      }
    }
  }
  .ourTeamDiv h2,
  .ourTeamDiv h3 {
    text-align: center;
    margin-bottom: 4rem;
  }
  .ourTeamDiv .announcements {
    padding-left: 0;
    padding-right: 0;
  }
  .ourTeamDiv .cardsAnnoun {
    overflow: hidden !important;
  }
  .ourTeamDiv .cardsAnnoun .card {
    border-radius: 0 !important;
  }
  .ourTeamDiv .cardsAnnoun .card .imageDiv {
    border-radius: 0 !important;
  }
  .contactPageDiv {
    h1 {
      padding: 0 1rem;
    }
  }
  .accountBig {
    .registeredDiv {
      flex-direction: column;
      .leftPart,
      .rightPart {
        width: 100%;
      }
      .leftPart {
        padding-top: 3rem;
        position: static;
      }
      .rightPart {
        padding: 0 0;
        padding-bottom: 1rem;
        .titleLine {
          padding: 3rem 2rem;
          h4 {
            margin: 0;
          }
        }
        .noOfMeetings {
          width: 80%;
          margin: 0 3rem;
        }
        .scrollBtnDiv {
          display: none;
        }
        .upcomingEventsCards {
          width: 100% !important;
          .cardsAnnoun {
            padding: 2rem 2rem !important;
            width: 100% !important;
            border-radius: 0;
          }
        }
      }
    }
  }
  .clubCoordinatorDash {
    padding-top: 9rem;
    .titleDiv {
      h3 {
        width: 100%;
      }
    }
    .topRoundDivs {
      flex-direction: column;
      .noOfMeetings {
        width: 100%;
        margin: 0;
        i {
          opacity: 0.5;
        }
      }
    }
    .lineTwo {
      flex-direction: column;
      .leftPart {
        width: 100%;
        .roundDiv {
          width: 100%;
        }
        .genderDoughnutChart {
          width: 100%;
        }
      }
      .rightPart {
        width: 100%;
        .roundDiv {
          width: 100%;
        }
        .previousMeetingDetailsDiv {
          width: 100%;
        }
      }
    }
    .scrollBtnDiv {
      display: none;
    }
    .previousEvents {
      padding-top: 13rem;
      width: 100% !important;
      .cardsAnnoun {
        padding: 2rem 2rem !important;
        width: 100% !important;
        border-radius: 0;
      }
    }
    .upcomingEventsCards {
      .cardsAnnoun {
        padding: 2rem 2rem !important;
        width: 100% !important;
        border-radius: 0;
      }
    }
    .basicClubDetails {
      width: 100%;
      .basicField {
        flex-direction: column;
      }
    }
  }
  .joinUsPage .stepsCards {
    flex-direction: column;
    .card {
      border-radius: 0;
    }
  }

  .votingBig {
    height: fit-content;
    .leftPart {
      width: 100%;
      position: static;
      padding-bottom: 4rem;
      .formButtons {
        button {
          width: 15rem;
        }
      }
    }
    .rightPart {
      display: none;
    }
  }
  .galleryPageDiv {
    flex-direction: column;
    .homePageHeading {
      text-wrap: nowrap;
    }
    h1 {
      margin: 0;
      margin-bottom: 3rem;
      width: fit-content;
    }
  }
  .bookClubDiv {
    .firstCover .textDiv h1 {
      font-size: 7rem;
    }
    .secondCover {
      .announcements .cardsAnnoun .card {
        min-width: 0rem;
        width: 100%;
      }
      .scroll-menu .imgDiv {
        display: none;
      }
      .scroll-menu .announcements .card {
        width: 18rem;
      }
    }
    .upcomingEventsCards {
      .cardsAnnoun {
        position: relative;
        flex-direction: column;
        padding: 3rem 3rem;
        .scrollBtnDiv {
          display: none;
        }
        .card {
          min-width: 0;
        }
      }
    }
    .fifthCover {
      padding: 3rem;
      .cardsAnnoun {
        padding: 0;
        .card {
          min-width: 0;
          width: 100%;
        }
      }
    }
  }
}
