* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.fadeInSection {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.isVisible {
  opacity: 1;
}

.BigScrollContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: -8rem;
  transition: 0.4s ease-in-out;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.146);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav .leftPart {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.nav .leftPart .dropdown-menu {
  overflow: hidden;
}
.nav .leftPart a {
  margin: 1rem;
}
.nav .leftPart a:hover {
  color: darkred;
}
.nav .rightPart {
  display: flex;
  flex-wrap: wrap;
}
.nav .rightPart img {
  width: 5rem;
  height: 5rem;
}
.nav .rightPart div {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}

.hidden {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.homefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 10rem;
}
.homefirst .textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
}
.homefirst .textDiv h1 {
  font-family: "Gravitas One", serif;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 100;
}
.homefirst .textDiv .nfsuEmblemHomeFirst {
  width: 25px;
  height: auto;
  vertical-align: middle;
}
.homefirst .imageDiv {
  background-color: black;
  height: 60vh;
  width: 70vw;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  overflow: hidden;
}
.homefirst .imageDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collaborationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  padding: 5rem;
}
.collaborationDiv h1 {
  font-size: 3rem;
  text-align: center;
}
.collaborationDiv .saying {
  position: absolute;
}
.collaborationDiv .saying img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.collaborationDiv .saying span {
  background-color: rgba(0, 128, 128, 0.273);
  position: absolute;
  top: 0;
  left: 7rem;
  border-radius: 3rem;
  font-style: italic;
  font-weight: 500;
  padding: 1rem;
  color: midnightblue;
  text-wrap: nowrap;
}
.collaborationDiv .saying-mobile {
  display: none;
}

.announcements {
  height: 60vh;
  color: black;
  text-align: center;
  background-color: white;
  margin-bottom: 5rem;
}
.announcements .cardsAnnoun::-webkit-scrollbar {
  display: none;
}
.announcements .cardsAnnoun {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  display: flex;
  padding: 3rem;
  padding-top: 3rem;
  gap: 2rem;
  overflow: scroll;
}
.announcements .cardsAnnoun .card {
  min-width: 25rem;
  height: 20rem;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0;
  padding: 1rem;
}
.announcements .cardsAnnoun .card .imageDiv {
  height: 60%;
  background-color: black;
  width: 100%;
}
.announcements .cardsAnnoun .card .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.announcements .cardsAnnoun .card .textBody {
  height: 40%;
  width: 100%;
  overflow: scroll;
}

.descriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 5rem 0;
}
.descriptionDiv .imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  padding: 1rem;
}
.descriptionDiv .imageDiv .imgContainerDiv {
  background-color: black;
  width: 80%;
  height: 80%;
  border-radius: 0rem;
  overflow: hidden;
}
.descriptionDiv .imageDiv .imgContainerDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptionDiv .textDiv {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.descriptionDiv .textDiv h1 {
  font-size: 2.5rem;
}
.descriptionDiv .textDiv h5 {
  font-size: 1.5rem;
}
.descriptionDiv .textDiv p {
  width: 90%;
}

.calendarofevents {
  text-align: center;
  height: fit-content;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendarofevents div {
  width: 80%;
}
.calendarofevents iframe {
  height: 90vh;
}

.pastevents {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}
.pastevents a {
  text-decoration: none;
}
.pastevents .card {
  height: 25rem !important;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: rgb(255, 242, 221) !important;
  color: midnightblue;
}

.studygroups {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
  padding: 2rem;
}
.studygroups h1 span {
  vertical-align: middle;
}
.studygroups h1 span img {
  width: 2.5rem;
}
.studygroups .cardsContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem;
  position: relative;
}
.studygroups .cardsContainer .card {
  width: 13rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  height: 10rem;
  position: relative;
  background-color: beige;
  border: none;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.studygroups .cardsContainer .card p {
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: white;
}
.studygroups .cardsContainer .card .symbol {
  background-color: white;
  opacity: 0;
  display: inline;
  padding: 1rem;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 0.5rem;
}
.studygroups .cardsContainer .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.supportServicesDiv {
  height: 85vh;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  margin-bottom: 10rem;
}
.supportServicesDiv .outerDiv {
  height: 100%;
  background-color: white;
  border-radius: 0rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supportServicesDiv .outerDiv .card {
  width: 20rem;
  height: 35rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  display: flex;
  border: none;
  background-color: white;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.supportServicesDiv .outerDiv .card .imageDiv {
  width: 100%;
  min-height: 40%;
  background-color: black;
  margin-bottom: 1rem;
}
.supportServicesDiv .outerDiv .card .textDiv {
  text-align: center;
}
.supportServicesDiv .outerDiv .card .textDiv h4 {
  color: black;
  text-decoration: underline white;
}
.supportServicesDiv .outerDiv .card .textDiv p {
  font-weight: 500;
  color: gray;
  text-decoration: underline white;
  font-size: 0.9rem;
  padding: 0 2rem;
  text-align: center;
}
.supportServicesDiv .outerDiv .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.footer {
  height: fit-content;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 8rem;
  flex-direction: column;
  padding-bottom: min(20rem, 50%);
}
.footer h1 {
  font-size: 3rem;
}
.footer p {
  color: rgba(255, 255, 255, 0.599);
}
.footer p:hover {
  color: white;
  cursor: cell;
}
.footer .bottomBox {
  margin: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
}
.footer .bottomBox .imageDiv {
  width: 10rem;
}
.footer .bottomBox .imageDiv img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer .bottomBox .allLinksContainer {
  display: flex;
  align-items: start;
  gap: 6rem;
}
.footer .bottomBox .allLinksContainer .linksDiv {
  display: flex;
  flex-direction: column;
  line-height: 2.3rem;
  font-size: 1rem;
}
.footer .bottomBox .allLinksContainer .linksDiv a {
  text-decoration: none;
  color: gray;
}
.footer .bottomBox .allLinksContainer .linksDiv a:hover {
  color: white;
  text-decoration: underline white;
  transition: 0.2s ease-in-out;
  cursor: cell;
}
.footer .heart {
  color: red;
  text-decoration: none;
}
.footer .adildyer:hover {
  color: yellow;
  transition: 0.2s ease-in;
  cursor: cell;
}

.joinUsPage {
  margin-top: 8rem;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.joinUsPage .stepsCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.joinUsPage .stepsCards .card {
  width: 25rem;
  border-radius: 2rem;
  height: 25rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(110, 93, 237);
}
.joinUsPage .stepsCards .card .hrline {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  margin: 1rem 0;
}
.joinUsPage .stepsCards .card p {
  padding: 2rem;
}
.joinUsPage .stepsCards .card hr {
  color: white;
  background-color: white;
}

.contactPageDiv {
  margin-top: 8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactPageDiv .descriptionDiv {
  width: 100%;
}
.contactPageDiv .iDiv {
  display: flex;
}
.contactPageDiv .iDiv i {
  margin: 1rem;
  font-size: 2rem;
}

.grievance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.grievancePortal {
  margin-top: 10rem;
}
.grievancePortal img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.grievancePortal .textBody {
  padding: 5rem 5rem;
}
.grievancePortal .textBody button {
  padding: 2rem;
  font-size: 1.5rem;
}

.ourTeamDiv {
  margin-top: 10rem;
  text-align: center;
}
.ourTeamDiv hr {
  border-top: 4px dashed darkcyan;
}
.ourTeamDiv h1 {
  color: #071952;
  padding-bottom: 1rem;
  border-bottom: #071952 solid thick;
}
.ourTeamDiv h2 {
  padding: 2rem 5rem;
  margin-bottom: 3rem;
  text-align: start;
  border-bottom: 4px dotted pink;
  color: #071952;
}
.ourTeamDiv h3 {
  padding: 1rem 5rem;
  background-color: pink;
  color: #071952;
  text-align: start;
  margin: 3rem 0;
}
.ourTeamDiv .announcements {
  height: fit-content;
}
.ourTeamDiv .announcements .cardsAnnoun {
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 5rem;
  padding-bottom: 2rem;
}
.ourTeamDiv .announcements .cardsAnnoun .card {
  height: 25rem;
  width: 25rem;
  background-color: rgba(0, 0, 255, 0.229);
  background-color: rgba(162, 232, 255, 0.661);
  color: midnightblue;
  border-radius: 1.5rem;
}
.ourTeamDiv .announcements .cardsAnnoun .card .imageDiv {
  border-radius: 1.5rem;
  overflow: hidden;
}

.bookClubDiv .firstCover {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookClubDiv .firstCover .textDiv {
  text-align: center;
  position: absolute;
  color: black;
}
.bookClubDiv .firstCover .textDiv h1 {
  color: white;
  font-size: 13rem;
  font-family: "Kristi", cursive;
}
.bookClubDiv .firstCover .textDiv h6 {
  background-color: yellow;
  display: inline;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.bookClubDiv .firstCover .textDiv p {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.6rem;
}
.bookClubDiv .firstCover img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.bookClubDiv .secondCover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  background-color: black;
}
.bookClubDiv .secondCover #coverImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.bookClubDiv .secondCover .oneCardDiv {
  padding: 5rem;
}
.bookClubDiv .secondCover .oneCardDiv .announcements {
  background: transparent;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 30rem;
  width: 40rem;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card .imageDiv {
  height: 70%;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card .textBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bookClubDiv .secondCover .oneCardDiv .announcements .card .textBody a {
  text-decoration: none;
}
.bookClubDiv .secondCover .scroll-menu {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  padding: 10px 0;
  padding-left: 35%;
  padding-right: 35%;
}
.bookClubDiv .secondCover .scroll-menu .announcements {
  all: initial;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun {
  padding: 0.8rem;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun a {
  text-decoration: none;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun .card {
  padding: 0.7rem;
}
.bookClubDiv .secondCover .scroll-menu .announcements .cardsAnnoun .card .textBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.4rem !important;
  }
  .collaborationDiv .saying {
    display: none;
  }
  .collaborationDiv .saying-mobile {
    display: inline;
  }
  .supportServicesDiv .outerDiv {
    flex-wrap: wrap;
  }
  .nav {
    padding: 0;
    justify-content: center;
  }
  .nav .leftPart {
    font-size: 0.8rem;
    padding: 1rem;
  }
  .nav .leftPart .dropdown button {
    font-size: 0.8rem;
  }
  .nav .rightPart {
    display: none;
  }
  .homefirst .textDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .homefirst h1 {
    font-size: 1.9rem !important;
    text-align: center;
    padding-left: 0.5rem;
  }
  .homefirst h3 {
    text-align: center;
  }
  .homefirst h3 span {
    display: block;
  }
  .homefirst p {
    padding: 2rem;
    margin: 0;
  }
  .homefirst .imageDiv {
    width: 100%;
    border-radius: 0;
  }
  .collaborationDiv {
    padding: 3rem 0;
  }
  .collaborationDiv h1 {
    padding-top: 11rem;
  }
  .descriptionDiv {
    padding: 0;
    flex-direction: column !important;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    margin-top: 3rem;
  }
  .descriptionDiv .imageDiv {
    height: 40%;
    width: 100%;
    padding: 0;
  }
  .descriptionDiv .textDiv {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .descriptionDiv h5 {
    width: 80%;
  }
  .descriptionDiv h5,
  .descriptionDiv span {
    font-size: 1.1rem;
  }
  .calendarofevents {
    margin: 3rem 0rem;
  }
  .calendarofevents iframe {
    height: 25rem;
  }
  .announcements {
    padding: 0 1rem;
  }
  .studygroups .cardsContainer {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .supportServicesDiv {
    margin-top: 5rem;
    height: fit-content;
    margin-bottom: 5rem;
  }
  .grievance {
    padding: 2rem;
    overflow: hidden;
  }
  .grievance img {
    margin: 1rem;
    width: 15rem;
  }
  .qbon {
    margin-bottom: 8rem;
  }
  .footer {
    padding: 1rem;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: min(30rem, 50%);
  }
  .footer .bottomBox {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  .footer .bottomBox .allLinksContainer {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .ourTeamDiv h2,
  .ourTeamDiv h3 {
    text-align: center;
  }
  .ourTeamDiv .announcements {
    padding-left: 0;
    padding-right: 0;
  }
  .ourTeamDiv .cardsAnnoun {
    overflow: hidden !important;
  }
  .ourTeamDiv .cardsAnnoun .card {
    border-radius: 0 !important;
  }
  .ourTeamDiv .cardsAnnoun .card .imageDiv {
    border-radius: 0 !important;
  }
}

/*# sourceMappingURL=globals.css.map */
