* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: -8rem;
  transition: 0.4s ease-in-out;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.146);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav .leftPart {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.nav .leftPart .dropdown-menu {
  overflow: hidden;
}
.nav .leftPart a {
  margin: 1rem;
}
.nav .leftPart a:hover {
  color: darkred;
}
.nav .rightPart {
  display: flex;
  flex-wrap: wrap;
}
.nav .rightPart img {
  width: 5rem;
  height: 5rem;
}
.nav .rightPart div {
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}

.hidden {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.homefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 10rem;
}
.homefirst .textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
}
.homefirst .textDiv h1 {
  font-family: "Gravitas One", serif;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 100;
}
.homefirst .textDiv .nfsuEmblemHomeFirst {
  width: 25px;
  height: auto;
  vertical-align: middle;
}
.homefirst .imageDiv {
  background-color: black;
  height: 60vh;
  width: 70vw;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  overflow: hidden;
}
.homefirst .imageDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collaborationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.collaborationDiv h1 {
  font-size: 3rem;
  text-align: center;
}
.collaborationDiv .saying {
  position: absolute;
}
.collaborationDiv .saying img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.collaborationDiv .saying span {
  background-color: rgba(0, 128, 128, 0.273);
  position: absolute;
  top: 0;
  left: 7rem;
  border-radius: 3rem;
  font-style: italic;
  font-weight: 500;
  padding: 1rem;
  color: midnightblue;
  text-wrap: nowrap;
}

.announcements {
  height: 60vh;
  color: black;
  text-align: center;
  background-color: white;
  margin-bottom: 5rem;
}
.announcements .cardsAnnoun {
  display: flex;
  padding: 3rem;
  padding-top: 3rem;
  gap: 2rem;
  overflow: scroll;
}
.announcements .cardsAnnoun .card {
  min-width: 25rem;
  height: 20rem;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0;
  padding: 1rem;
}
.announcements .cardsAnnoun .card .imageDiv {
  height: 60%;
  background-color: black;
  width: 100%;
}
.announcements .cardsAnnoun .card .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.announcements .cardsAnnoun .card .textBody {
  height: 40%;
  width: 100%;
  overflow: scroll;
}

.descriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 5rem 0;
}
.descriptionDiv .imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  padding: 1rem;
}
.descriptionDiv .imageDiv .imgContainerDiv {
  background-color: black;
  width: 80%;
  height: 80%;
  border-radius: 0rem;
  overflow: hidden;
}
.descriptionDiv .imageDiv .imgContainerDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptionDiv .textDiv {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.descriptionDiv .textDiv h1 {
  font-size: 2.5rem;
}
.descriptionDiv .textDiv h5 {
  font-size: 1.5rem;
}
.descriptionDiv .textDiv p {
  width: 90%;
}

.calendarofevents {
  text-align: center;
  height: fit-content;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendarofevents div {
  width: 80%;
}
.calendarofevents iframe {
  height: 90vh;
}

.pastevents {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}
.pastevents .card {
  height: 25rem !important;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.studygroups {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
  padding: 2rem;
}
.studygroups h1 span {
  vertical-align: middle;
}
.studygroups h1 span img {
  width: 2.5rem;
}
.studygroups .cardsContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem;
  position: relative;
}
.studygroups .cardsContainer .card {
  width: 13rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  height: 10rem;
  position: relative;
  background-color: beige;
  border: none;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.studygroups .cardsContainer .card p {
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: white;
}
.studygroups .cardsContainer .card .symbol {
  background-color: white;
  opacity: 0;
  display: inline;
  padding: 1rem;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 0.5rem;
}
.studygroups .cardsContainer .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.supportServicesDiv {
  height: 85vh;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  margin-bottom: 10rem;
}
.supportServicesDiv .outerDiv {
  height: 100%;
  background-color: white;
  border-radius: 0rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supportServicesDiv .outerDiv .card {
  width: 20rem;
  height: 35rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  display: flex;
  border: none;
  background-color: white;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.supportServicesDiv .outerDiv .card .imageDiv {
  width: 100%;
  min-height: 40%;
  background-color: black;
  margin-bottom: 1rem;
}
.supportServicesDiv .outerDiv .card .textDiv {
  text-align: center;
}
.supportServicesDiv .outerDiv .card .textDiv h4 {
  color: black;
  text-decoration: underline white;
}
.supportServicesDiv .outerDiv .card .textDiv p {
  font-weight: 500;
  color: gray;
  text-decoration: underline white;
  font-size: 0.9rem;
  padding: 0 2rem;
  text-align: center;
}
.supportServicesDiv .outerDiv .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.footer {
  height: 110vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 8rem;
  flex-direction: column;
}
.footer h1 {
  font-size: 3rem;
}
.footer p {
  color: rgba(255, 255, 255, 0.599);
}
.footer p:hover {
  color: white;
  cursor: cell;
}
.footer .bottomBox {
  margin: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
}
.footer .bottomBox .imageDiv {
  width: 10rem;
}
.footer .bottomBox .imageDiv img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer .bottomBox .allLinksContainer {
  display: flex;
  align-items: start;
  gap: 6rem;
}
.footer .bottomBox .allLinksContainer .linksDiv {
  display: flex;
  flex-direction: column;
  line-height: 2.3rem;
  font-size: 1rem;
}
.footer .bottomBox .allLinksContainer .linksDiv a {
  text-decoration: none;
  color: gray;
}
.footer .bottomBox .allLinksContainer .linksDiv a:hover {
  color: white;
  text-decoration: underline white;
  transition: 0.2s ease-in-out;
}
.footer .heart {
  color: red;
  text-decoration: none;
}
.footer .adildyer:hover {
  color: yellow;
  transition: 0.2s ease-in;
}

.joinUsPage {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.joinUsPage .stepsCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.joinUsPage .stepsCards .card {
  width: 25rem;
  border-radius: 2rem;
  height: 25rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(110, 93, 237);
}
.joinUsPage .stepsCards .card .hrline {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  margin: 1rem 0;
}
.joinUsPage .stepsCards .card p {
  padding: 2rem;
}
.joinUsPage .stepsCards .card hr {
  color: white;
  background-color: white;
}

.contactPageDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactPageDiv .descriptionDiv {
  width: 100%;
}
.contactPageDiv i {
  font-size: 2rem;
  margin: 1rem;
}

.grievance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.grievancePortal img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.grievancePortal .textBody {
  padding: 5rem 5rem;
}
.grievancePortal .textBody button {
  padding: 2rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=globals.css.map */
